@charset "UTF-8";
body{
	width:600px;
}


label[id^="error-"]{
	color: red;
	width:150px;
}

label{
        position:absolute;
        left:2px;
        font-size:6px;
      }
      
.inputArea{
  position:relative;
    top:-24px;
    
    left:200px;
}

.inputArea button{
  position:relative;
  top:20px;
}

.text{
  
  text-align:right;
  width:200px;
}
.isLogin{
	color:red;
	text-align:center;
	font-size:12px;
}